.env
.env.*
!.env.example
!.env.production.example
!.env.railway.example
.git
.gitignore
node_modules
vendor
public/build
bootstrap/cache/*.php
bootstrap/cache/*.json
!bootstrap/cache/.gitignore
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/framework/testing
storage/pail
npm-debug.log
coverage
